.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 15px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox:checked {
    background-color: black;
  }
  
  .custom-checkbox:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }